.Mainlayout{
  flex-direction: row;
}

.Mainlayout .Navbar{
  flex: 30%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.stories {
  width: 700px;
  margin-bottom: 20px;
}

.home-post {
  margin-left: 20px;
  position: relative;
}

.suggest-box {
  margin-top: 30px;
  position: absolute;
  z-index: 1;
  height: 400px;
  top: 0;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  overflow-y: auto;
  right: 0;
}

@media only screen and (max-width: 1300px) {
  .home {
    margin-left: max(80px, 7%);
  }

  .home-post {
    margin-left: 0;
  }

  .suggest-box {
    margin-top: 10px;
  }
}
