@font-face {
  font-family: dancingScript;
  src: url("../fonts/DancingScript-SemiBold.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  /* border: 1px solid; */
  text-align: center;
  font-family: dancingScript, cursive;
  font-size: 30px;
  margin: 5px 0px;
}
