.profile-header {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
}

.profile-photo-container {
    flex-grow: 1;
    text-align: center;
}
.profile-photo {
    height: 150px;
    width: 150px;
    border: 3px solid purple;
}

.profile-information {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.user-content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
}
.username{
    margin-right: 30px;
} 
.edit-profile {
    margin-right: 10px;
}
.edit-profile-button {
    padding: 5px 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.settings-button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.stats {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.bio {
    flex-grow: 2;
}
