.GridPost{
  position: relative;
}

.explore-window{
  margin-left: 20%;
  margin-right: 2%;
  padding-top: 7vh;
  overflow: hidden;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}