.GridPost{
  position: relative;
}

.explore-window{
  margin: 2px 10px;
  padding-top: 7vh;
  overflow: hidden;
}

.grid-container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}