.footerTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.left-icons {
  display: flex;
  align-items: center;
}

.right-icons {
  display: flex;
  align-items: center;
}
